{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <div class="list-group">

  {% for student in object_list %}

      <a href="#" class="list-group-item list-group-item-action mb-3">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="">{{ student.name }}</h5>
          <small>{{ student.group }}</small>
        </div>
        <p class="mt-2 mb-1">Преподаватели:</p>
      {% for teacher in student.teachers.all %}
        <div><small>- {{ teacher.name }} ({{ teacher.subject }})</small></div>
      {% endfor %}

      </a>
  {% endfor %}

  </div>
</div>
{% endblock %}
